
<div class="row">
<nav class="nav-extended teal lighten-2">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><h4 class="besedwi">Rest2</h4></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a><%= link_to "Home" , root_path %></a></li>
        <li>
          <%= link_to cart_path do  %>
            <i class="material-icons">add_shopping_cart</i></a>
            <%=current_cart.items_count %>
          <% end %>
        </li>
        <li><a><%= link_to "Find us" , contact_path %></a></li>
        <li><a href="/home/about">About us</a></li>
      </ul>
    </div>

    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <% @sections.each do |section| %>
        <li class="tab">
         <%= link_to(section.name , menu_path(section:section.name),
              class:"#{'active' if params[:section] == section.name}") %>
        </li>
         <% end %>
      </ul>
    </div>
  </nav>
</div>


<div class="row text-center">
<% if @section  %>
<h2><%= @section.name %></h2>
 <% @items.each do |item|%>
<div class="col s3 inline" id="menu">
    <div class="card">
    <h4 class="header"><%= item.name %></h4>
    <div class="card-image">
       <%= image_tag(item.image_url) %>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><%= item.description %></p>
          <p><strong><%= number_to_currency(item.price) %></strong></p>
        </div>
        <%= form_for LineItem.new do |f|%>
          <%= f.hidden_field :item_id, value: item.id %>
          <%= f.hidden_field :cart_id, value: current_cart.id %>
          <%= f.number_field :quantity, value: 1 %>
          <%= f.submit 'add to cart', class: 'btn' %> 
        <%end%>
      </div>
  </div>
</div>  
<% end %>

<% end %>
</div>
  




