
<div class="row">
<nav class="nav-extended teal lighten-2">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><h4 class="besedwi">Rest2</h4></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a><%= link_to "Home" , root_path %></a></li>
        <li><a><%= link_to "About" , cart_path %></a></li>
        <li><a><%= link_to "Find us" , contact_path %></a></li>
      </ul>
    </div>

    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <% @category.each do |category| %>
        <li class="tab">
         <%= link_to(category.name , menu_path(category:category.name),
              class:"#{'active' if params[:category] == category.name}") %>
        </li>
         <% end %>
      </ul>
    </div>
  </nav>
</div>


<div class="row text-center">

<h2>BreakFast</h2>

<div class="col s3 inline" id="menu">
    <h2 class="header"></h3>
    <div class="card">
      <div class="card-image">
        <img src="<%= image_path 'lunch1.jpg' %>">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a><%= link_to "Take a look" ,menu_path %></a>
        </div>
      </div>
    </div>
  </div>

<div class="col s3 inline" id="menu">
    <h2 class="header"></h3>
    <div class="card">
      <div class="card-image">
        <img src="<%= image_path 'lunch2.jpg' %>">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a><%= link_to "Take a look" ,menu_path %></a>
        </div>
      </div>
    </div>
  </div>

  <div class="col s3 inline" id="menu">
    <h2 class="header"></h3>
    <div class="card">
      <div class="card-image">
        <img src="<%= image_path 'lunch3.jpg' %>">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a><%= link_to "Take a look" ,menu_path %></a>
        </div>
      </div>
    </div>
  </div>

  <div class="col s3 inline" id="menu">
    <h2 class="header"></h3>
    <div class="card">
      <div class="card-image">
        <img src="<%= image_path 'lunch4.jpg' %>">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a><%= link_to "Take a look" ,menu_path %></a>
        </div>
      </div>
    </div>
  </div>

  <div class="col s3 inline" id="menu">
    <h2 class="header"></h3>
    <div class="card">
      <div class="card-image">
        <img src="<%= image_path 'lunch5.jpg' %>">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a><%= link_to "Take a look" ,menu_path %></a>
        </div>
      </div>
    </div>
  </div>

  <div class="col s3 inline" id="menu">
    <h2 class="header"></h3>
    <div class="card">
      <div class="card-image">
        <img src="<%= image_path 'dinner2.jpg' %>">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a><%= link_to "Take a look" ,menu_path %></a>
        </div>
      </div>
    </div>
  </div>

  <div class="col s3 inline" id="menu">
    <h2 class="header"></h3>
    <div class="card">
      <div class="card-image">
        <img src="<%= image_path 'dinner1.jpg' %>">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a><%= link_to "Take a look" ,menu_path %></a>
        </div>
      </div>
    </div>
  </div>

  <div class="col s3 inline" id="menu">
    <h2 class="header"></h3>
    <div class="card">
      <div class="card-image">
        <img src="<%= image_path 'dinner3.jpg' %>">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a><%= link_to "Take a look" ,menu_path %></a>
        </div>
      </div>
    </div>
  </div>

  </div>
  




